html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(238,164,177);
    font-family: "Nerko One", cursive;
  font-family: "Dosis", sans-serif;
  color: white;
  font-size: 30px;
}

input[type="chekbox"]{
  transform: scale(2);
  margin-right: 30px;
}

input[type="text"]{
  font-size: 30px;
  width: 230px;
  border-radius: 200px;
  border: solid 4px white;  
}

.hidden{
  display: none;
}

.botao{
  background-color: rgb(241,96,121);
  font-family: "Nerko One", sans-serif;  
  color: white;
  border: 2px solid rgb(241,96,121);
  border-radius: 200px;
  font-size: 25px;
}

.botao:hover{
  background-color: lightblue;
  border: solid 2px lightblue;
}
